<div class="row-fluid">
    <form class="navbar-form pull-left">

        <div class="well">
        <span class="label">Product Name</span> <input type="text" value="{{product.ProductName}}" />
        </div>
        <div class="well">
        <span class="label">Brand</span> 
            <select ng-options="brand as brand.Caption for brand in brands" ng-model="selectedBrand" ng-change="changeBrand()"></select>
            </select> {{product.BrandId}} / {{product.Brand}}
        </div>
        <div class="well">
            <span class="label">Product Type</span>
            <select ng-options="productType as productType.Caption for productType in productTypes" ng-model="selectedProductType" ng-change="changeProductType()"></select>
        </div>

    </form>


    <div style="clear:both;"></div>
    <h3>Debug view</h3>
    <pre>selectedBrand = {{selectedBrand | json}}</pre>
    <pre>product={{product | json}}</pre>

    <div class="productDetailMain">
        <h2>{{product.ProductName}}</h2>
        <p><strong>{{product.Brand}} {{product.ProductType}}</strong> ({{product.Style}})</p>
        <p><img style="width:200px" ng-src="/Content/clothing-images/{{product.ProductImage}}" alt="{{product.Brand}} {{product.ProductName}} ({{product.Style}} {{product.ProductType}})" />
        </p>
    </div>
    <div class="productDetailAvailability">
        <h3>Available Colours</h3>
        <ul>
            <li class="productDetailAvailabilityItem" ng-repeat="variant in product.Variants | unique:'Colour'">{{variant.Colour}}</li>
        </ul>
        <div style="clear:both"></div>
        <h3>Available Sizes</h3>
        <ul>
            <li class="productDetailAvailabilityItem" ng-repeat="variant in product.Variants | unique:'Size'">{{variant.Size}}</li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <div>
        <a href="/#/product/{{product.Id}}" class="btn btn-large">Cancel</a>
        <a href="/#/editProduct/{{product.Id}}" class="btn btn-primary btn-large">Save</a>

    </div>
</div>
