@{
    ViewBag.Title = "Index";
}
<div class="container-fluid" ng-controller="ProductSearchController">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Colours</li>
                    <li ng-repeat="colour in colours" class="">
                        <input id="colour-{{colour.Id}}" type="checkbox" ng-change="changeColour()" ng-model="colour.isChecked" ng-true-value="{{colour.Id}}" ng-false-value="" value="{{colour.isChecked}}"/>
                        <label for="colour-{{colour.Id}}">{{colour.Caption}}</label>
                    </li>
                    <li class="nav-header">Brand</li>
                    <li ng-repeat="brand in brands"><input type="checkbox" value="{{brand.Id}}"  />{{brand.Caption}}</li>
                    <li class="nav-header">Type</li>
                    <li ng-repeat="productType in productTypes"><input type="checkbox" value="{{productType.Id}}"  />{{productType.Caption}}</li>
                    <li class="nav-header">Size</li>
                    <li ng-repeat="size in sizes"><input type="checkbox" value="{{size.Id}}"  />{{size.Caption}}</li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="hero-unit">
                <h1>Angular Catalogue</h1>
                <p>
                    This is a demonstration of using Angular JS in a web application. You can filter 
                    products using the filters on the left. You can select individual products to get more information about it.
                </p>
                <p>
                    <a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>
            <div class="row-fluid">
                <div class="span4" ng-repeat="product in products">
                    <h2>{{product.ProductName}}</h2>
                    <p><strong>{{product.Brand}} {{product.ProductType}}</strong> {{Style}}</p>
                    <p><img style="width:200px" ng-src="/Content/clothing-images/{{product.ProductImage}}" alt="{{product.Brand}} {{product.ProductName}} ({{product.Style}} {{product.ProductType}})" />
                    </p>
                    <p>
                        <a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <hr>
    <footer>
        <p>&copy; Company 2013</p>
      </footer>
</div>
<!--/.fluid-container-->
